@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.btn {
  @apply bg-sky-700 hover:bg-sky-600 rounded-md px-4 py-2 text-white cursor-pointer;
}

.btn-link {
  @apply text-sky-700 hover:text-sky-600 cursor-pointer;
}

.label {
  @apply text-sm;
}

.field {
  @apply border p-2 rounded outline-0 focus:ring-4 ring-sky-100 focus:border-sky-600;
}

.form-group {
  @apply flex flex-col space-y-1;
}

.prose p {
  @apply mb-2;
}

.fade-in {
  opacity: 0;
  animation: fade-in 500ms ease-in forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.focused {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  box-shadow: 0 0 10px 5px rgb(148 163 184); /* Example: glowy box-shadow */
  /* z-index: 999; Ensure the wrapper is on top of other elements */
  border-radius: 18px;
}

.focused * {
  pointer-events: none; /* Disable pointer events on child elements when focused */
}

.sidebar {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0px;
  left: 0px;
  /* --mask: radial-gradient(
        111.8px at calc(100% - 150px) 50%,
        #000 99%,
        #0000 101%
      )
      0 calc(50% - 100px) / 100% 200px,
    radial-gradient(111.8px at calc(100% + 100px) 50%, #0000 99%, #000 101%)
      calc(100% - 50px) 50%/100% 200px repeat-y;
  -webkit-mask: var(--mask);
  mask: var(--mask); */
  /* border-top-right-radius: 1%; */
}
